<h1>Log in</h1>
<%= form_for_without_foundation(:login, method: "POST") do |f| %>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :password %>
    <%= f.password_field :password %>
  </p>
  <%= f.submit "Log in", class: 'button small round' %>
<% end %>
