<div id='ticket'>
  <div class='row'>
    <div class='small-8 columns'>
      <h3>Subject: <%= @ticket.subject %></h3>
      <p class='label round large' id='current-status'>Status: <%= @ticket.state.name %></p>
    </div>

    <div class='small-4 columns'>
      Your reference: <span class='right label'><%= @ticket.reference_id %></span>
      Creator: <span class='right label secondary' id='author-id'><%= @ticket.name %> < <%= @ticket.email %> ></span>
      Created: <span class='right label secondary'><%= @ticket.created_at %></span><br/>
      <% unless @ticket.updated_at == @ticket.created_at %>
        Last updated: <span class='clearfix right label secondary'><%= @ticket.updated_at %></span>
      <% end %>
      Department: <span class='right'><%= @ticket.department.name %></span>
    </div>
  </div>
  <hr>

  <h4>Ticket Detail:</h4>
  <%= simple_format(@ticket.detail) %>

  <hr>
  <div class='row' id='comments'>
    <div class='small-8 large-12 columns'>
      <h4>Activity Stream:</h4>
      <% if @ticket.comments.exists? %>
        <%= render @ticket.comments.select(&:persisted?) %>
      <% else %>
        No comments exist for this ticket
      <% end %>
    </div>
    <div class='small-8 large-12 columns'>
      <%= render 'comments/comment_form' %>
    </div>
  </div>
</div>

