<div id='ticket'>
  <div class='row'>
    <div class='small-8 columns'>
      <h3>Subject: <%= @ticket.subject %></h3>
      <p class='label round large' id='current-status'>Status: <%= @ticket.state.name %></p>
    </div>

    <div class='small-4 columns'>
      Your reference: <span class='right label'><%= @ticket.reference_id %></span>
      Creator: <span class='right label secondary' id='author-id'><%= @ticket.name %> < <%= @ticket.email %> ></span>
      Created: <span class='right label secondary'><%= @ticket.created_at %></span><br/>
      <% unless @ticket.updated_at == @ticket.created_at %>
        Last updated: <span class='clearfix right label secondary'><%= @ticket.updated_at %></span>
      <% end %>
      Department: <span class='right'><%= @ticket.department.name %></span>
    </div>
  </div>
  <hr></hr>


  <h4>Ticket Detail:</h4>
  <%= simple_format(@ticket.detail) %>
</div>

