<!DOCTYPE html>
<html>
<head>
  <title>SupportTastic</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav>
    <li><%= link_to "Log in", login_path %></li>
  </nav>

  <%= render 'shared/flash_messages' %>

  <%= yield %>

</body>
</html>
